/*Media queries*/
/* @media screen and (max-width: 1024px){} */
@media only screen and (max-width: 768px){
    header{
        @include flex(row, center, space-between);
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        #btn_menu:checked~.menu{
            visibility: visible;
        }
        .logo{
            display: block;
            width: 100px;
            margin-left: 25px;
        }
        label{
            display: block;
            position: relative;
            right: 25px;
            img{
                width: 50px;
            }
        }
        .menu{
            position: absolute;
            top: 100px;
            background-color: #E8C57E;
            visibility: hidden;
            width: 100vw;
            z-index: 1;
            ul{
                flex-direction: column;
                li{
                    a{
                        .logo-hidden{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .main-index{
        .nosotros{
            flex-direction: column;
            align-items: center;
            div{
                width: 80vw;
            }
            .nosotros-text{
                text-align: center;
            }
        }
    }
}

//Mixin para media querie (genérico, pueden editarlo):
// @mixin mobile {
//     @media (max-width: 425px){
//         @content
//     }
// };

// y para llamarla lo hacen así
// @include mobile()