//mixins
//mixin con parámetros

@mixin flex($flex-direction, $align-items, $justify-content){
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
}

//mixin sin parámetros
@mixin medidas-base{
    width: 100%;
    height: 100%;
    padding: 15px;
    margin: 20px;
}